<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">


<!-- 要 lazy-init=true 因為一開始還沒初始化 EntityManagerFactory 會發生錯誤 -->
<!-- 需要 prototype 因為用singleton每個request就會用到同一個EntityManager -->
<bean id="exampleDao" class="com.chttl.jee.test.ExampleCustomerDaoImpl" lazy-init="true" scope="prototype">
	<constructor-arg type="java.lang.String" value="entityManagerFactory1"/>
</bean>

</beans>
